/* HERO */
.hero {
    background-color: rgba(229, 229, 229, .2);
    padding-block-start: clamp(2.67rem,2.07rem + 3vw,4.21rem);
}

.hero-text {
    padding-block-end: clamp(2.67rem,2.07rem + 3vw,4.21rem); /* Ensure there is always space beneath text on fullscreen so hero illustration image touches edge of div but not text*/
}

.hero h1 {
    color: var(--clr-jiggy-blue);
}

.hero h1>span {
    color: var(--clr-jiggy-red);
}

.hero-text button:not([type=submit]) {
    background-color: #ffffff00;
    padding: 0;
    margin: 0;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-white);
    padding: .45rem;
    border-radius: 6px;
    max-width: 80vw;
}

@media (max-width:640px) {
    form {
        flex-direction: column;
        background-color: #ffffff00;
    }
}

input[type=email] {
    all: unset;
    color: var(--clr-faded-grey);
    max-width: 50vw;
}

@media (max-width:640px) {
    input[type=email] {
        border: 2px solid currentColor;
        border-radius: 6px;
        align-self: flex-start;
        background-color: var(--clr-white);
        padding: .65rem;
    }
}

@media (max-width:640px) {
    button[type="submit"] {
        margin-block-start: var(--s1);
        align-self: flex-start;
    }
}

.hero-img {
    align-self: center;
}

/* ABOUT US */
.about-us {
    margin-block: clamp(2.67rem,2.07rem + 3vw,4.21rem);
}

.about-us h2 {
    color: var(--clr-jiggy-red);

}

.about-us h3 {
    color: var(--clr-jiggy-blue);

}

.about-us p {
    font-weight: var(--fw-700);
}

/* WHAT WE DO */

.curate {
    background-color: var(--clr-jiggy-azure);
    background-image: url(../img/spiral-background.png);
}

.curate-text {
    padding-block-start: clamp(2.67rem,2.07rem + 3vw,4.21rem);
}

.curate .switcher {
    align-items: center;
}

/* EVENT ORGANIZERS */
.event-organizers .card {
    background-color: var(--clr-jiggy-azure);
    border-radius: 30% 20% / 10% 40%;
    padding: 1.5rem;
    text-align: center;
}

.event-organizers .card>*+* {
    margin-block-start: .75rem;
}

.event-organizers .card hr {
    max-width: 50px;
    height: 3px;
    color: var(--clr-jiggy-red);
    background-color: var(--clr-jiggy-red);
}

/* NEWSLETTER */
.newsletter {
    max-width: 50rem;
    text-align: center;
    padding-block: var(--s3);
    padding-inline: var(--s1);
    background-color: var(--clr-jiggy-blue);
    border-radius: 40px;
}

.newsletter > article {
    padding-inline: var(--s1);
}

.newsletter h2,
.newsletter h3,
.newsletter p {
    color: var(--clr-white);
}

.newsletter form,
.newsletter button[type="submit"],
.newsletter input[type="email"] {
    border-radius: 100vw;
}

@media (max-width:640px) {
    .newsletter form {
        display: inline-grid;
        justify-items: center;
    }
}