/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    /* display: block; */
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* GLOBAL VARIABLES */
:root {
    /* Font Family*/
    --ff-heading: 'Cherry Cream Soda', cursive;
    --ff-text: 'Poppins', sans-serif;
    font-family: var(--ff-text);

    /* Font sizes */
    --fs-12: .75rem;
    --fs-14: .875rem;
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-20: 1.25rem;
    --fs-24: 1.5rem;
    --fs-32: 2rem;
    --fs-40: 2.5rem;

    /* Font weight */
    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;

    /* Colours */
    --clr-white: #fff;
    --clr-jiggy-blue: #097F9A;
    --clr-jiggy-red: #EE2526;
    --clr-jiggy-grey: #696969;
    --clr-faded-grey: #BDBDBD;
    --clr-invisible-grey: #F2F2F2;
    --clr-dr-white: #FAFAFA;
    --clr-jiggy-azure: #F3F9FA;
    --clr-jiggy-whisper: #E5E5E5;

    /* Modular Scales */
    --ratio: 1.61803398875;
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));

    /* Width */
    --measure: 75ch;
    --space: 1rem;
}

/* ELEMENT STYLING */
h1 {
    font-size: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
}

h2 {
    font-size: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
    color: var(--clr-jiggy-red);
}

h3 {
    font-size: clamp(1.37rem, 1.21rem + .8vw, 1.78rem);
    color: var(--clr-jiggy-blue);
}

h4 {
    font-size: clamp(0.97rem, .83rem + .4vw, 1.1rem);
    color: var(--clr-jiggy-blue);
}


h1,
h2,
h3 {
    font-family: var(--ff-heading);
    max-width: 30ch;
}

p {
    max-width: 65ch;
    color: var(--clr-jiggy-grey);
    font-size: clamp(1.09rem,1rem + .47vw,1.33rem);
    line-height: 1.7;
}

ul {
    all: unset;
    list-style: none;
}

a {
    all: unset;
    font-weight: var(--fw-700);
    text-decoration: none;
    transition: text-decoration 500ms ease-in-out;
    will-change: text-decoration;
}

a:hover {
    text-decoration: underline 3px currentColor;
    cursor: pointer;
}

button {
    all: unset;
    color: var(--clr-white);
    display: inline-block;
    background-color: var(--clr-jiggy-red);
    padding-block: var(--s-1);
    padding-inline: var(--s1);
    border-radius: 6px;
}

/* LAYOUT STYLING */
.stack>* {
    margin-top: 0;
    margin-bottom: 0;
}

.stack>*+* {
    margin-top: var(--s3);
}

.tight-stack>* {
    margin-top: 0;
    margin-bottom: 0;
}

.tight-stack>*+* {
    margin-top: var(--s0);
}

.center {
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--s0);
    padding-right: var(--s0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cluster {
    display: flex;
    flex-wrap: wrap;
    gap: var(--s1);
    justify-content: flex-start;
    align-items: center;
}

.switcher {
    display: flex;
    flex-wrap: wrap;
    gap: var(--s2);
}

.switcher>* {
    flex-grow: 1;
    flex-basis: calc((35rem - 100%) * 999);
}

.switcher> :nth-last-child(n+ 4),
.switcher> :nth-last-child(n+ 4)~* {
    flex-basis: 100%;
}

.reel {
    display: flex;
    height: auto;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-color: #fff #000;
}

.reel::-webkit-scrollbar {
    height: 8px;
    border-radius: 100vw;
}

.reel::-webkit-scrollbar-track {
    background-color: #ffffff00;
}

.reel::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    background: var(--clr-cod-gray);
}

@supports (scrollbar-color: var(--clr-white) var(--clr-pale)) {
    .reel {
        scrollbar-color: var(--clr-cod-gray) #ffffff00;
        scrollbar-width: thin;
    }
}

.reel>* {
    flex: 0 0 auto;
}


.reel>img {
    height: 100%;
    flex-basis: auto;
    width: auto;
}

.reel>*+* {
    margin-left: .75rem;
}

.reel.overflowing {
    padding-bottom: 1rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
  }
  
  @supports (width: min(250px, 100%)) {
    .grid {
      grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    }
  }

  .frame {
    padding-bottom: calc(var(--n) / var(--d) * 100%);
    position: relative;
  }
  
  .frame > * {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .frame > img,
  .frame > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
/* UTILITIES */
/* These styles do only one thing and one thing only */
.container {
    padding-inline-start: var(--s1);
    padding-inline-end: var(--s1);
    max-width: 95rem;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.text-center {
    text-align: center;
}

/* SECTIONAL STYLING */
/* HEADER */
header {
    padding-block: var(--s-1);
}

header article {
    max-width: 65ch;
}

header.cluster {
    justify-content: space-between;
}

/* MAIN */
main {
    margin-block-start: 0 !important;
    /* stack component is a class selector and has higher specificity than element selector, I am overriding with !important */
}

/* FOOTER */
footer .cluster {
    justify-content: space-between;
    align-items: center;
}

footer.switcher {
    gap: 0;
}

footer hr {
    color: var(--clr-white);
    background-color: var(--clr-white);
}

.footer-nav {
    border-radius: 50px/50px 0 0 0;
    display: flex;
    flex-direction: column;
    background-color: var(--clr-jiggy-blue);
    color: var(--clr-white);
    padding-block: 1.5rem;
    padding-inline: 1.5rem;
}

.footer-nav > :nth-child(2) {
    width: 100%;
    margin-top: var(--s3);
    align-self: end;
}

@media (max-width: 1175px) {
    footer>img {
        display: none;
    }
}

@media (max-width: 414px) {
    .footer-nav > nav {
        display: none;
    }

    .footer-nav > :nth-child(2) {
        width: 100%;
        align-self: end;
        margin-block-start: 0;
    }
}

/* HAMBURGER */
.burger-menu__trigger {
    display: none;
  }
  
  .burger-menu__bar,
  .burger-menu__bar::before,
  .burger-menu__bar::after {
    display: block;
    width: 30px;
    height: 2px;
    background: var(--clr-jiggy-red);
    border: 2px solid var(--clr-jiggy-red);
    position: absolute;
    border-radius: 3px;
    left: 50%;
    margin-left: -10px;
    transition: transform 350ms ease-in-out;
  }
  
  .burger-menu__bar {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .burger-menu__bar::before,
  .burger-menu__bar::after {
    content: '';
  }
  
  .burger-menu__bar::before {
    top: -12px;
  }
  
  .burger-menu__bar::after {
    bottom: -12px;
  }
  
  .burger-menu[enabled='true'] .burger-menu__trigger {
    display: block;
    width: 2rem;
    height: 2rem;
    /* Nice big tap target */
    position: relative;
    z-index: 2;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .burger-menu[enabled='true'] .burger-menu__panel {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5rem 1.5rem 2rem 1.5rem;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    background-color: var(--clr-jiggy-azure);
    background-image: url(../img/spiral-background.png);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    
    z-index: 1;
  }
  
  .burger-menu[enabled='true'] .navigation ul {
    display: block;
  }
  
  .burger-menu[enabled='true'] .navigation ul>*+* {
    margin-top: 2rem;
  }
  
  .burger-menu[enabled='true'] .navigation li {
    font-size: 1.5rem;
  }
  
  .burger-menu[enabled='true'][status='open'] .burger-menu__panel {
    visibility: visible;
    opacity: 1;
    transition: opacity 400ms ease;
  }
  
  .burger-menu[enabled='true'][status='closed'] .burger-menu__panel>* {
    opacity: 0;
    transform: translateY(5rem);
  }
  
  .burger-menu[enabled='true'][status='open'] .burger-menu__panel>* {
    transform: translateY(0);
    opacity: 1;
    transition: transform 500ms cubic-bezier(0.17, 0.67, 0, 0.87) 700ms, opacity 500ms ease 800ms;
  }
  
  .burger-menu[enabled='true'][status='open'] .burger-menu__bar::before {
    top: 0;
    transform: rotate(45deg);
  }
  
  .burger-menu[enabled='true'][status='open'] .burger-menu__bar::after {
    top: 0;
    transform: rotate(-45deg);
  }
  
  .burger-menu[enabled='true'][status='open'] .burger-menu__bar {
    background: transparent;
    border-color: transparent;
    transform: rotate(180deg);
  }

/* FOCUS */
:focus {
    outline: 3px solid currentColor;
    outline-offset: .5rem;
}

button:focus {
    outline: 3px solid black;
}

/* LANDING PAGE STYLES */
/* HERO */
.hero {
    background-color: rgba(229, 229, 229, .2);
    padding-block-start: clamp(2.67rem,2.07rem + 3vw,4.21rem);
}

.hero-text {
    padding-block-end: clamp(2.67rem,2.07rem + 3vw,4.21rem); /* Ensure there is always space beneath text on fullscreen so hero illustration image touches edge of div but not text*/
}

.hero h1 {
    color: var(--clr-jiggy-blue);
}

.hero h1>span {
    color: var(--clr-jiggy-red);
}

.hero-text button:not([type=submit]) {
    background-color: #ffffff00;
    padding: 0;
    margin: 0;
}

form.email-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-white);
    padding: .45rem;
    border-radius: 6px;
    max-width: 80vw;
}

@media (max-width:640px) {
    form.email-form {
        flex-direction: column;
        background-color: #ffffff00;
    }
}

.email-form input[type=email] {
    all: unset;
    color: var(--clr-faded-grey);
    max-width: 50vw;
}

@media (max-width:640px) {
    .email-form input[type=email] {
        border: 2px solid currentColor;
        border-radius: 6px;
        align-self: flex-start;
        background-color: var(--clr-white);
        padding: .65rem;
    }
}

@media (max-width:640px) {
    .email-form button[type="submit"] {
        margin-block-start: var(--s1);
        align-self: flex-start;
    }
}

.hero-img {
    align-self: center;
}

/* ABOUT US */
.about-us {
    margin-block: clamp(2.67rem,2.07rem + 3vw,4.21rem);
}

.about-us h2 {
    color: var(--clr-jiggy-red);

}

.about-us h3 {
    color: var(--clr-jiggy-blue);

}

.about-us p {
    font-weight: var(--fw-700);
}

/* WHAT WE DO */

.curate {
    background-color: var(--clr-jiggy-azure);
    background-image: url(../img/spiral-background.png);
}

.curate-text {
    padding-block-start: clamp(2.67rem,2.07rem + 3vw,4.21rem);
}

.curate .switcher {
    align-items: center;
}

/* EVENT ORGANIZERS */
.event-organizers .card {
    background-color: var(--clr-jiggy-azure);
    border-radius: 30% 20% / 10% 40%;
    padding: 1.5rem;
    text-align: center;
}

.event-organizers .card>*+* {
    margin-block-start: .75rem;
}

.event-organizers .card hr {
    max-width: 50px;
    height: 3px;
    color: var(--clr-jiggy-red);
    background-color: var(--clr-jiggy-red);
}

/* NEWSLETTER */
.newsletter {
    max-width: 50rem;
    text-align: center;
    padding-block: var(--s3);
    padding-inline: var(--s1);
    background-color: var(--clr-jiggy-blue);
    border-radius: 40px;
}

.newsletter > article {
    padding-inline: var(--s1);
}

.newsletter h2,
.newsletter h3,
.newsletter p {
    color: var(--clr-white);
}

.newsletter form.email-form,
.newsletter button[type="submit"],
.newsletter .email-form input[type=email] {
    border-radius: 100vw;
}

@media (max-width:640px) {
    .newsletter form.email-form {
        display: inline-grid;
        justify-items: center;
    }
}


/* EVENT SEARCH PAGE STYLE */