#event-header-image.frame {
    --n: 4;
    --d: 16;
}

.event-details {
    background-color: var(--clr-dr-white);
    text-align: left;
    max-width: 60rem;
}

.event-details h2 {
    font-family: var(--ff-body);
    color: var(--clr-jiggy-blue);
    font-weight: var(--fw-400);
    font-size: var(--fs-20);
}

.specific-event-header {
    width: 100%;
    padding-inline: var(--s1);
    background-color: var(--clr-invisible-grey);
    padding-block: var(--s1);
}

.specific-event-header button {
    color: var(--clr-white);
    display: inline-block;
    background-color: var(--clr-jiggy-blue);
    padding-block: var(--s-1);
    padding-inline: var(--s2);
    border-radius: 6px;
}

.specific-event-header.cluster {
    justify-content: space-between;
}

.specific-event-name {
    color: var(--clr-jiggy-blue);
    font-size: var(--fs-24);
    font-family: var(--ff-body);
}

.specific-event-price {
    color: var(--clr-jiggy-red);
    font-size: var(--fs-32);
    font-weight: var(--fw-700);
}

.specific-event-description {
    width: 100%;
    padding-block: var(--s2);
    padding-inline: var(--s1);
}

.specific-event-media {
    text-align: left;
    width: 100%;
    padding-inline: var(--s1);
    padding-block-end: var(--s3);
}